page-logout {
  .logo {
    margin: 0 auto;
    display: block;
  }

  .github-url {
    font-size: 16px !important;
    color: color($colors, url);
  }

  .footer {
    button {
      margin-bottom: 20px;
    }
  }
}
