.item-md {
  padding-left: 6px;
}

.item-md.item-block .item-inner {
  padding-right: 0px;
}

.scroll-content {
  padding-right: 6px;
}

.md button {
  text-transform: none;
  color: color($colors, dark) !important;
}

.label-md {
  margin: 4px 4px 4px 4px;
}