<ion-content>

  <ion-item *ngIf="issuesResults.length===0; then noResultsBlock; else resultsBlock"></ion-item>

  <ng-template #noResultsBlock>
      <ion-item>No assigned issues found.</ion-item>
  </ng-template>

  <ng-template #resultsBlock>
    <ion-list>
      <ion-item *ngFor="let issue of issuesResults">
        <br>
        <h2
            text-wrap
            class=issueUrl
            strong=true
            clear
            (click)="navigateToGitHub(issue.url)">
          {{issue.title}}
        </h2>
        <ion-badge class=issueNumber>#{{issue.number}}</ion-badge>
        <ion-badge class=issue-repository-fullname>{{issue.repository}}</ion-badge>
        <br>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-item *ngIf="hideInfiniteScroll; then noScrollBlock; else scrollBlock"></ion-item>

  <ng-template #noScrollBlock>
    <ion-item>
      End of results.
    </ion-item>
  </ng-template>

  <ng-template #scrollBlock>
    <ion-infinite-scroll threshold="20%" (ionInfinite)="renderMoreResults($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>

</ion-content>
