<ion-content padding>

  <ion-item>
    <ion-searchbar
      type=text placeholder='Search Repositories' [(ngModel)]="searchQuery" (keyup.enter)="requestSearch(searchQuery, undefined)" clearInput>
    </ion-searchbar>
  </ion-item>

  <ion-row float=right>
    <button ion-button small color=light (click)="requestSearch(searchQuery, undefined)">Run Search</button>
    <button ion-button small color=light >Advanced Search Options</button>
  </ion-row>

  <ion-item *ngIf="resultsCount===0; then thenBlock; else elseBlock"></ion-item>

  <ng-template #thenBlock>
      <ion-item>No Results.</ion-item>
  </ng-template>

  <ng-template #elseBlock>
    <ion-list>
        <ion-item text-wrap *ngFor="let repo of searchResults | keyvalue: keyDescValueOrder">
            <p>{{repo.key}}</p>
            <p>{{repo.value.name}}</p>
        </ion-item>
    </ion-list>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="renderMoreResults($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
