<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-searchbar
      type=text placeholder='Search Repositories' type=text [(ngModel)]="searchQuery" (keyup.enter)="requestSearch(searchQuery, firstPage, undefined)" clearInput>
    </ion-searchbar>
  </ion-item>

  <ion-row float=right>
    <button ion-button small style="text-transform: none;" (click)="requestSearch(searchQuery, firstPage, undefined)">Run Search</button>
    <button ion-button small style="text-transform: none;">Advanced Search Options</button>
  </ion-row>

  <ion-item *ngIf="resultsCount===0; then thenBlock; else elseBlock"></ion-item>

  <ng-template #thenBlock>
      <ion-item>No Results.</ion-item>
  </ng-template>

  <ng-template #elseBlock>
    <ion-list>
        <ion-item text-wrap *ngFor="let repo of searchResults | keyvalue: keyDescValueOrder">
            <p>{{repo.key}}</p>
            <p>{{repo.value.name}}</p>
        </ion-item>
    </ion-list>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="renderMoreResults(searchQuery, $event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
