page-search {
  .repository {
    margin: 0 auto;
    font-size: 16px !important;
    color: color($colors, url);
  }

  ion-row {
    float: right;
  }

  ion-item ion-badge {
    margin-right: 0.5px;
  }

  .commits {
    background: color($colors, commits) !important;
    color: color($colors, dark) !important;
  }

  .language {
    background: color($colors, language) !important;
    color: color($colors, dark) !important;
  }

  .stars {
    background: transparent;
    color: color($colors, dark) !important;
  }
}
