<ion-content>

  <ion-item>
    <ion-searchbar
      type=text placeholder='Search Repositories' [(ngModel)]="searchQuery" (keyup.enter)="requestSearch(searchQuery, undefined)" clearInput>
    </ion-searchbar>
  </ion-item>

  <ion-row>
    <button ion-button small color=light (click)="requestSearch(searchQuery, undefined)">
      Run Search
    </button>

    <button ion-button small color=light>
      Advanced Search Options
    </button>
  </ion-row>

  <ion-item *ngIf="resultsCount===0; then noResultsBlock; else resultsBlock"></ion-item>

  <ng-template #noResultsBlock>
      <ion-item>
        No results found.
      </ion-item>
  </ng-template>

  <ng-template #resultsBlock>
    <ion-list>
      <ion-item *ngFor="let repo of searchResults">
        <h2 text-wrap class=repository strong=true clear (click)="navigateToGitHub(repo.url)">
          {{repo.fullName}}
        </h2> 

        <button ion-button class=commits>
          Commits
        </button>

        <ion-badge class=stars>
          <ion-icon name="star">
            &nbsp;
          </ion-icon>
          {{repo.stars}}
        </ion-badge>

        <ion-badge class=language>
          {{repo.language}}
        </ion-badge>

        <p padding-top=10px text-wrap>
          {{repo.description}}
        </p>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-item *ngIf="hideInfiniteScroll; then noScrollBlock; else scrollBlock"></ion-item>

  <ng-template #noScrollBlock>
    <ion-item>
      End of search results.
    </ion-item>
  </ng-template>

  <ng-template #scrollBlock>
    <ion-infinite-scroll threshold="20%" (ionInfinite)="renderMoreResults($event)">
      <ion-infinite-scroll-content 
        loadingSpinner="crescent"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>

</ion-content>
